.features {
    background-color: #FFFFFF;
    padding: 120px 0;
}
.features p {
    line-height: 1.5;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-list li {
    width: calc((100% - 72px) /4);
    text-align: left;
}
.features-list h3 {
    margin-bottom: 8px;
}