.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-list {
    display: flex;
    gap: 120px;
}
.footer-list h3, .footer-list p {
    color: #F4F4FD;
}
.footer-contain {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
/* Logo */
.logo .studio-footer {
    color: #F4F4FD;
}
.footer-logo-wrap {
    display: flex;
    flex-direction: column;
    max-width: 264px;
    gap: 16px;
}
/* Social-link company*/
.box-footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link {
    height: 40px;
    width: 40px;
}
.social-link:hover,
.social-link:focus {
    background-color: #31D0AA;
    transform: translateX(1px);
}

